.map {
  position: relative;
}

.map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map img {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.map svg path {
  fill: none; 
  pointer-events: all; 
  cursor: pointer; 
  stroke: #ffffff;
  stroke-width: 1px;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.gMap:hover path {
  animation: hoverElement 2s linear infinite;
}

.map svg path:hover {
  animation: hoverElement 2s linear infinite;
}

@keyframes hoverElement {
  0% {
      stroke: #000000;
  }
  50% {
      stroke: #fc0000;
  }
  100% {
      stroke: #000000;
  }
}

#Krasnodar {
  clip-path: url(#Adygey);
}

.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.color-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.color {
  width: 20px;
  height: 20px;
}

.label {
  font-size: 12px;
  color: #555555;
}

.map-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #555555;
}

.map-description h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.map-description p {
  font-size: 14px;
}